@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr 20px;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
    font-family: 'Inter', sans-serif;
}

body > header {
    grid-area: header;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px black;
    /* border: 2px solid black; */
    /* z-index: 1; */
}







/* Sidebar Start */

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 234, 234);
    padding: 32px;
    /* font-size: 30px; */
    gap: 16px;
    overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
} 


.sidebar .add-button { 
    text-align: right;
}

.sidebar .add-button:hover {
    cursor: pointer;
}

.material-icons.md-24 {font-size: 48px;}

 
input[type="radio"]{
    display: none !important;
}

input[type="radio"]:checked + label{
    background-color: red;
    transform: scale(0.98);
}
 
label {
    display: flex;
    transition: background-color 0.25s, transform 0.25s;
    background-color: blue;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
}

label input {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    width: 100px;
}

.confirm-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: yellow;
    height: 10%;
    width: 20%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    gap: 10%;
    /* z-index: 2; */
}

.soft-background {
    background-color: rgb(189, 189, 189, 0.6);
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* bottom: 0;
    left: 0; */
    /* transform: translate(-50%, -50%); */
    /* z-index: 1; */
}

/* Sidebar End */






.content {
    grid-area: content;
    background-color: blue;
}

.content header {
    text-align: center;
    margin-top: 10px;
}


.list {
    display: flex;
    flex-direction: column;
}

.list .add-item{
    font-size: 48px;
    text-align: right;
}


.list-item {
    background-color: orange;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.list-left {
    display: flex;
    align-items: center;
}

.list-item input {
    display: none;
}

.list-item label {
    background-color: red;
    width: 10px;
    height: 30px;
    border-radius: 70px;
    margin: 20px;
}

.list-item input:checked + label {
    background-color: greenyellow;
}

.item-desc {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 5px;
}

.delete-item {
    background-color: red;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.due-date {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 3px;
}

.due-date i {
    font-size: 14px;
}


.new-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* height: 300px; */
    width: 300px;
    padding: 10px;
    background-color: pink;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.new-item * {
    width: 100%;
}

.new-item label.importance {
    /* background-color: green; */
    width: 100%;
}

.new-item input[type="radio"]:checked + label {
    transform: scale(0.9);
}

.new-item div.importance {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer {
    grid-area: footer;
    background-color: red;
}

.hidden {
    display: none !important;
}







