@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr 20px;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
    font-family: 'Inter', sans-serif;
}

header {
    grid-area: header;
    height: 100%;
    background-color: brown;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 234, 234);
    padding: 32px;
    /* font-size: 30px; */
    gap: 16px;
    overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
} 


.sidebar .add-button { 
    text-align: right;
}

.sidebar .add-button:hover {
    cursor: pointer;
}

.material-icons.md-24 {font-size: 48px;}

 
input[type="radio"]{
    display: none !important;
}

input[type="radio"]:checked + label{
    background-color: red;
    transform: scale(0.98);
}
 
label {
    display: flex;
    transition: background-color 0.25s, transform 0.25s;
    background-color: blue;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
}

label input {
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    width: 100px;
}





.content {
    grid-area: content;
    background-color: blue;
}

footer {
    grid-area: footer;
    background-color: red;
}







